.RestaurantMenuOrderCart {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fd7122;
  height: 32px;
  > .order-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    // line-height: 32px;
    margin-top: 6px;
    display: inline-block;
    margin-left: calc(50% - 31.135px);
    // position: relative;
    // transform: translateX(-50%);
  }
  > .quantity-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    padding-top: 2px;
    position: absolute;
    right: 20px;
  }
}
